# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../WeatherPy/cities.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,current description
0,0,Batavia,41.8500,-88.3126,37.90,58,40,8.05,US,scattered clouds
1,1,Mataura,-46.1927,168.8643,71.06,41,98,4.81,NZ,overcast clouds
2,2,Margate,51.3813,1.3862,51.69,84,100,3.00,GB,overcast clouds
3,3,Punta Arenas,-53.1500,-70.9167,55.51,71,75,8.05,CL,light intensity shower rain
4,4,Klaksvik,62.2266,-6.5890,49.12,88,100,34.00,FO,light rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 75
What is the maximum temperature you would like for your vacation? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [9]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)] 

                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,current description
6,6,Cabo San Lucas,22.8909,-109.9124,79.90,64,0,19.57,MX,clear sky
8,8,Vaini,-21.2000,-175.2000,82.56,78,40,5.75,TO,shower rain
9,9,Utinga,-5.8172,-35.3954,79.65,83,40,8.05,BR,scattered clouds
11,11,Karratha,-20.7377,116.8463,81.70,41,0,4.61,AU,light rain
12,12,Rikitea,-23.1203,-134.9692,75.06,81,100,13.47,PF,overcast clouds
17,17,Bubaque,11.2833,-15.8333,83.35,70,100,15.43,GW,overcast clouds
20,20,Kapaa,22.0752,-159.3190,84.18,72,40,17.27,US,scattered clouds
26,26,Hilo,19.7297,-155.0900,80.26,87,100,8.05,US,heavy intensity rain
33,33,Carutapera,-1.1950,-46.0200,79.57,77,7,9.51,BR,clear sky
34,34,Fomboni,-12.2800,43.7425,78.87,80,0,14.81,KM,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [10]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()


# Display sample data
clean_travel_cities.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,current description
6,6,Cabo San Lucas,22.8909,-109.9124,79.90,64,0,19.57,MX,clear sky
8,8,Vaini,-21.2000,-175.2000,82.56,78,40,5.75,TO,shower rain
9,9,Utinga,-5.8172,-35.3954,79.65,83,40,8.05,BR,scattered clouds
11,11,Karratha,-20.7377,116.8463,81.70,41,0,4.61,AU,light rain
12,12,Rikitea,-23.1203,-134.9692,75.06,81,100,13.47,PF,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [11]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "current description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

              City Country  Max Temp   current description      Lat       Lng
6   Cabo San Lucas      MX     79.90             clear sky  22.8909 -109.9124
8            Vaini      TO     82.56           shower rain -21.2000 -175.2000
9           Utinga      BR     79.65      scattered clouds  -5.8172  -35.3954
11        Karratha      AU     81.70            light rain -20.7377  116.8463
12         Rikitea      PF     75.06       overcast clouds -23.1203 -134.9692
17         Bubaque      GW     83.35       overcast clouds  11.2833  -15.8333
20           Kapaa      US     84.18      scattered clouds  22.0752 -159.3190
26            Hilo      US     80.26  heavy intensity rain  19.7297 -155.0900
33      Carutapera      BR     79.57             clear sky  -1.1950  -46.0200
34         Fomboni      KM     78.87             clear sky -12.2800   43.7425

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [12]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,current description,Lat,Lng,Hotel Name
6,Cabo San Lucas,MX,79.90,clear sky,22.8909,-109.9124,
8,Vaini,TO,82.56,shower rain,-21.2000,-175.2000,
9,Utinga,BR,79.65,scattered clouds,-5.8172,-35.3954,
11,Karratha,AU,81.70,light rain,-20.7377,116.8463,
12,Rikitea,PF,75.06,overcast clouds,-23.1203,-134.9692,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [13]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [14]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,current description,Lat,Lng,Hotel Name
6,Cabo San Lucas,MX,79.90,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos
8,Vaini,TO,82.56,shower rain,-21.2000,-175.2000,Keleti Beach Resort
9,Utinga,BR,79.65,scattered clouds,-5.8172,-35.3954,Espaço de Lazer Érica Fernandes
11,Karratha,AU,81.70,light rain,-20.7377,116.8463,ibis Styles Karratha
12,Rikitea,PF,75.06,overcast clouds,-23.1203,-134.9692,People ThankYou

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [17]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,current description,Lat,Lng,Hotel Name
6,Cabo San Lucas,MX,79.90,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos
8,Vaini,TO,82.56,shower rain,-21.2000,-175.2000,Keleti Beach Resort
9,Utinga,BR,79.65,scattered clouds,-5.8172,-35.3954,Espaço de Lazer Érica Fernandes
11,Karratha,AU,81.70,light rain,-20.7377,116.8463,ibis Styles Karratha
12,Rikitea,PF,75.06,overcast clouds,-23.1203,-134.9692,People ThankYou
17,Bubaque,GW,83.35,overcast clouds,11.2833,-15.8333,"Casa Dora, Bubaque"
20,Kapaa,US,84.18,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
26,Hilo,US,80.26,heavy intensity rain,19.7297,-155.0900,Hilo Hawaiian Hotel
33,Carutapera,BR,79.57,clear sky,-1.1950,-46.0200,Lidera
34,Fomboni,KM,78.87,clear sky,-12.2800,43.7425,Auberge les abou

In [18]:
gmaps.configure(api_key=g_key)
gmaps.figure()

Figure(layout=FigureLayout(height='420px'))

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [19]:
# In case of an empty DataFrame, load the sample data provided
clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
clean_hotel_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Aksu,CN,82.42,clear sky,41.12,80.26,Pudong Holiday Hotel
1,7,Touros,BR,80.60,broken clouds,-5.20,-35.46,INN NEW HORIZON
2,10,Morehead,US,75.20,clear sky,37.27,-87.18,CCI Express Inn
3,11,Port Elizabeth,ZA,84.20,clear sky,-33.92,25.57,39 On Nile Guest House
4,16,Northam,GB,82.40,few clouds,51.03,-4.22,Durrant House Hotel
5,18,Hyderabad,IN,87.01,haze,17.38,78.47,"Taj Krishna, Hyderabad"
6,20,Port Alfred,ZA,82.00,clear sky,-33.59,26.89,The Halyards Hotel
7,22,Atuona,PF,79.72,clear sky,-9.80,-139.03,Villa Enata
8,23,Kapaa,US,73.40,heavy intensity rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
9,25,Nikolskoye,RU,88.00,clear sky,59.70,30.79,Tourist House - Sablino

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [21]:
# Set the file name.
output_data_file = "../WeatherPy/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [45]:
# Review the formatting template provided
info_box_template = """

Hotel Name
     {Hotel Name}

City
{City}
Country
{Country}
Current Weather
    {Current Description} and {Max Temp} °F


"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [46]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n\nHotel Name\n     Pudong Holiday Hotel\n\nCity\nAksu\nCountry\nCN\nCurrent Weather\n    clear sky and 82.42 °F\n\n\n',
 '\n\nHotel Name\n     INN NEW HORIZON\n\nCity\nTouros\nCountry\nBR\nCurrent Weather\n    broken clouds and 80.6 °F\n\n\n',
 '\n\nHotel Name\n     CCI Express Inn\n\nCity\nMorehead\nCountry\nUS\nCurrent Weather\n    clear sky and 75.2 °F\n\n\n',
 '\n\nHotel Name\n     39 On Nile Guest House\n\nCity\nPort Elizabeth\nCountry\nZA\nCurrent Weather\n    clear sky and 84.2 °F\n\n\n',
 '\n\nHotel Name\n     Durrant House Hotel\n\nCity\nNortham\nCountry\nGB\nCurrent Weather\n    few clouds and 82.4 °F\n\n\n',
 '\n\nHotel Name\n     Taj Krishna, Hyderabad\n\nCity\nHyderabad\nCountry\nIN\nCurrent Weather\n    haze and 87.01 °F\n\n\n',
 '\n\nHotel Name\n     The Halyards Hotel\n\nCity\nPort Alfred\nCountry\nZA\nCurrent Weather\n    clear sky and 82.0 °F\n\n\n',
 '\n\nHotel Name\n     Villa Enata\n\nCity\nAtuona\nCountry\nPF\nCurrent Weather\n    clear sky and 79.72 °F\n\n\n',
 '\n\nHotel Name\n     Sheraton Kauai Resort at Coconut Beach\n\nCity\nKapaa\nCountry\nUS\nCurrent Weather\n    heavy intensity rain and 73.4 °F\n\n\n',
 '\n\nHotel Name\n     Tourist House - Sablino\n\nCity\nNikolskoye\nCountry\nRU\nCurrent Weather\n    clear sky and 88.0 °F\n\n\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [48]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

     Lat     Lng
0  41.12   80.26
1  -5.20  -35.46
2  37.27  -87.18
3 -33.92   25.57
4  51.03   -4.22
5  17.38   78.47
6 -33.59   26.89
7  -9.80 -139.03
8  22.08 -159.32
9  59.70   30.79

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [47]:
# Add a marker layer for each city to the map. 
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Display the figure containing the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))